.form-inline > * {
  margin-right: 5px;
}

select#branch {
  max-width: 300px;
}

ul.terminal {
  background: #000;
  font-family: Andale Mono, monospace;
  color: #ccc;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  height: 500px;
  overflow: auto;
  white-space: pre-wrap;
}

li.banner {
  text-align: center;
}
li.cursor {
  background: #ccc;
  width: 8px;
  height: 19px;
}

th.branch {
  width: 30%;
}

th.commit {
  width: 45%;
}

th.when {
  width: 15%;
}

th.author {
  width: 10%;
}

.blink {
  animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}
